@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&family=Playfair+Display+SC:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62,5%;
}

nav{
    background-color: #D5D8B5;
}

    nav ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
        nav ul li a{
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            color: #4B8673;
        }
        nav ul li a:hover{
            color: #CC9C75;
            font-weight: 700;
        }

header{
    height: 1%;
    padding: 2%;

}

body{
    background-color: #809A6F;
}

footer{
    background-color: #CC9C75;
}

h1,
h2,
h4{
    font-family: 'Playfair Display SC', serif;
    color: #A25B5B;
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: black;
    line-height: 1.7rem;
}

.maps{
    display: flex;
    justify-content: space-evenly;
}

.img__csp{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

/*.title{
    padding: 5%;
}*/

.presentation{
    padding: 5%;
}

.quote{
    background-color: #D5D8B5;
    font-style: italic;
    padding: 5%;
}

.quote__author{
    display: flex;
    justify-content: flex-end;
}

.maps__maps{
    width: 30%;
}

.tumba{
    width: 20%;
}

.who{
    display: flex;
    justify-content: flex-end;
    font-size: 0.5rem;
}